@import './libs/normalize';
@import './style/fonts';
@import './style/var';

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Proxima nova', sans-serif;
  color: $text-color;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: $header-bg;
  padding: calc($length-hight * 5);
  color: $header-title;

  .container {
    display: grid;
    grid-template-areas:
      'hp ht hb'
      'hp hj hb'
      'hp hc hb';
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    justify-items: center;
  }

  &__title {
    grid-area: ht;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 700;
  }
  &__job {
    font-size: 25px;
    line-height: 1.2em;
    grid-area: hj;
  }
  &__contacts {
    grid-area: hc;
    display: flex;
    column-gap: calc($length-width * 10);
    &__email,
    &__phone {
      position: relative;
    }

    &__email::before,
    &__phone::before {
      content: '';
      position: absolute;
      top: -3px;
      left: -35px;
      min-width: 25px;
      min-height: 25px;
      background: url('./images/email.svg') center / cover;
    }
    &__phone::before {
      top: -4px;
      background: url('./images/telephone.svg') center / cover;
    }
  }
}
.photo {
  background-color: #fff;
  grid-area: hp;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.short-info,
.experiences,
.education,
.courses,
.additional-info {
  padding-bottom: calc($length-hight * 5);
}
.short-info {
  padding-top: calc($length-hight * 5);
  &__item {
    padding-left: calc($length-width * 2);
    span {
      margin-left: calc($length-width * 2);
      font-weight: 700;
      color: $text-dark;
    }
  }
}
.experiences {
  &__item {
    margin-bottom: calc($length-hight * 4);
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: calc($length-width * 5);

    &__left-block {
      text-align: center;
      color: $text-dark;
      font-weight: 700;
    }
    &__left-block > div:not(:last-child) {
      margin-bottom: calc($length-hight);
    }
  }
  &__company {
    text-transform: uppercase;
    font-size: 24px;
  }
  &__duration {
    font-weight: 300;
  }
}
.education {
  &__item {
    margin-bottom: calc($length-hight * 4);
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: calc($length-width * 5);

    &__left-block {
      text-align: center;
      color: $text-dark;
      font-weight: 700;
    }
    &__left-block > div:not(:last-child) {
      margin-bottom: calc($length-hight);
    }
  }
  &__duration {
    font-weight: 300;
  }
  &__disc {
      span {
        font-weight: 700;
        color: $text-dark;
      }
  }
}

.courses {
  &__item {
    margin-bottom: calc($length-hight * 4);
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: calc($length-width * 5);
  }
  &__year {
    font-weight: 300;
    justify-self: center;
  }
  &__name {
    font-weight: 700;
    color: $text-dark;
  }
}
.additional-info {
  &__item {
    margin-bottom: calc($length-hight * 4);
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: calc($length-width * 5);
    font-weight: 700;
    color: $text-dark;
  }
  &__name {
    text-align: right;
    padding-right: calc($length-width * 3);
  }
}

/* Elements */
.h2 {
  &__title {
    display: block;
    position: relative;
    width: max-content;
    white-space: nowrap;
    font-size: 30px;
    line-height: 1.2em;
    color: $header-bg;
    text-align: center;
  }
}
.h2__title__wrap {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  margin-bottom: calc($length-hight * 2);
  &__line {
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: $header-bg;
    align-self: center;
  }
}

.canvas {
  position: absolute;
  z-index: -2;
}
